CHC.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2021 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="company">
        <xs:complexType >
            <xs:sequence>
                <xs:element name="Employee" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Emp_name" type="xs:string"></xs:element>
                            <xs:element name="Emp_age" type="xs:integer"></xs:element>
                            <xs:element name="Emp_salary" type="xs:integer"></xs:element>
                            <xs:element name="Emp_emailid" type="xs:string"></xs:element>
                            <xs:element name="Emp_Phonenum" type="xs:integer"></xs:element>
                            <xs:element name="Emp_designation" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Salary">
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="50000"/>
                <xs:maxInclusive value="200000"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>  
</xs:schema>
